# MSBD 5001 - Foundations of Data Analytics
# Tutorial 2
# More on Python Basics

### Table of Contents

### Part 1. [Python Data Types](#basic_data_types)
This section will discuss in more details the basic data types supported by Python:

#### Part 1.1. [Basic Data Types](#basic_data_types):
   - [Integers](#basic_data_types)
   - [Floating point numbers](#basic_data_types)
   - [Booleans](#basic_data_types)
   - [Strings](#strings)
   
#### Part 1.2. [Basic Data Structures](#data_structures):  
   - [List](#list)
   - [Tuple](#tuple)
   - [Set](#set)
   - [Dictionary](#dict)
   
### Part 2. [More on Functions](#functions)
   - [Parameters and Arguments](#parameters)
   - [Local and Global Variables](#localglobal)
   - [Positional and Keyword Arguments](#postionalandkeywordarguments)
   - [Default Values](#defaultvalues)
   - [Passing Objects](#passingobjects)
    
### Part 3. [Classes](#classes)
   - [Classes and Objects](#classesandobjects)
   - [Inheritance](#inheritance)

<a name = "basic_data_types"></a>
## Part 1.1. Python Basic Data Types

<table>
    <tr align="left">
        <th style="text-align:center; border:solid;">Name</th>
        <th style="text-align:center; border:solid;">Type</th>
        <th style="text-align:center; border:solid;">Description</th>
        <th style="text-align:center; border:solid;">Mutable or Immutable?</th>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Integers</td>
        <td style="text-align:left; border:solid;">int</td>
        <td style="text-align:left; border:solid;">Whole numbers, e.g. 2, 10, 123</td>
        <td style="text-align:left; border:solid;">Immutable</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Floating point numbers</td>
        <td style="text-align:left; border:solid;">float</td>
        <td style="text-align:left; border:solid;">Numbers with a decimal point, e.g. 3.1456</td>
        <td style="text-align:left; border:solid;">Immutable</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Booleans</td>
        <td style="text-align:left; border:solid;">bool</td>
        <td style="text-align:left; border:solid;">Logical values: True or False</td>
        <td style="text-align:left; border:solid;">Immutable</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Strings</td>
        <td style="text-align:left; border:solid;">str</td>
        <td style="text-align:left; border:solid;">Ordered sequencey of characters, e.g. "hello"</td>
        <td style="text-align:left; border:solid;">Immutable</td>
    </tr>
</table>

This section will discuss in more details the basic data types supported by Python, in particular, string.

We can use `types()` to get the type of the data.

In [1]:
print(type(1))
print(type(1.2))
print(type(False))
x1 = 100
print(type(x1))
x2 = "hello"
print(type(x2))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'str'>

<a name="strings"></a>
### Strings
- Strings can be defined by use of single ('), double (") or triple ("') quotes.
- Strings enclosed in triple quotes ("') can span over multiple lines.

In [2]:
greeting = 'Hello'
print (greeting)

Hello

In [3]:
print (greeting[1]) # Return character at index 1
print (len(greeting)) # Print length of string
print (greeting + 'World') # String concatention
print (greeting * 3) # Duplicate the string 3 times

e
5
HelloWorld
HelloHelloHello

A string is immutable.

In [4]:
greeting[1] = 'x'

TypeError: 'str' object does not support item assignment

There are many useful string methods. 
For more details: [https://docs.python.org/3/library/stdtypes.html#string-methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [5]:
print (greeting.upper()) # Return a copy of the string by convert all characters in the string to uppercase
print (greeting.center(20)) # Return centered copy of the string with padding
print (greeting.rjust(20)) # Return the right-justified copy of the string with padding
print (greeting.replace('ll', 'r')) # Return a copy of string with all instances of one substring replaced with another
print (' hello       '.strip()) # Return a copy of the string with all leading and trailing spaces removed

HELLO
       Hello
               Hello
Hero
hello

#### String Literals

We can add a prefix in front of string literals:

<table>
    <tr>
        <th style="text-align:center; border:solid;">Prefix</th>
        <th style="text-align:center; border:solid;">Meaning</th>
        <th style="text-align:center; border:solid;">Example</th>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">u or U</td>
        <td style="text-align:left; border:solid;">Unicode string, which is the default in Python 3</td>
        <td style="text-align:left; border:solid;">u_string = u"Hi"</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">b or B</td>
        <td style="text-align:left; border:solid;">Byte string, which is machine-readable and need decoding to become readable to human.</td>
        <td style="text-align:left; border:solid;">b_string = b'\x48\x69'</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">r or R</td>
        <td style="text-align:left; border:solid;">Raw string, which the character following a backslash is included in the string without change (i.e. not treated as an escape character)</td>
        <td style="text-align:left; border:solid;">r"hello\nworld"</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">f or F</td>
        <td style="text-align:left; border:solid;">Formatted string, which may contain expressions with braces</td>
        <td style="text-align:left; border:solid;">f"a + b = {a+b}"</td>
    </tr>
</table>

#### Unicode and Byte Strings

In [6]:
u_string = u"Hi"
print(u_string) # unicode string
print(u_string.encode('utf-8')) # convert unicode string to byte string
print(type(u_string))

b_string = b'\x48\x69' # byte string
print(b_string.decode('utf-8')) # convert byte string to unicode string
print(type(b_string))

Hi
b'Hi'
<class 'str'>
Hi
<class 'bytes'>

In [7]:
u_string = u"\U0001f600"
print(u_string)

print(u_string.encode('utf-8'))

ðŸ˜€
b'\xf0\x9f\x98\x80'

#### Raw String

In [8]:
str = r'\n is a newline character by default' 
# Raw strings can be defined by adding r to the string
print (str)

\n is a newline character by default

#### Formatted String

- f-strings
  - It allows us to include the value of expressions inside a string by 
    - prefixing the string with â€˜fâ€™ or â€˜Fâ€™ and 
    - wrapped by a braces, e.g. {expression}

In [9]:
a = 1
b = 2
print( f"a + b = {a+b}" )

a + b = 3

- We can add an optional format specifier after the expression to specify how the value is formatted
  - For example, 
    - to rounds a floating-point number to three places after the decimal, and
    - to print the value with a minimum width of 10

In [10]:
num = 1/3
print(f'The num is approximately {num:10.3f}.')

The num is approximately      0.333.

##### Alignment options of the formatted string

The following options can be included in the formatted string to specify the alignment of the expression.

|Option|Description|
|---|--------------|
|<| Left alignment (default)|
|>| Right alignment|
|^| Center alignment|

In [11]:
name = "Python"
print(f"{name:>30}")
print(f"{name:<30}")
print(f"{name:^30}")

                        Python
Python
            Python

<a name = "data_structures"></a>
## Part 1.2. Python Data Structures
<table>
    <tr align="left">
        <th style="text-align:center; border:solid;">Name</th>
        <th style="text-align:center; border:solid;">Type</th>
        <th style="text-align:center; border:solid;">Description</th>
        <th style="text-align:center; border:solid;">Mutable or Immutable?</th>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Lists</td>
        <td style="text-align:left; border:solid;">list</td>
        <td style="text-align:left; border:solid;">Ordered sequence of objects, e.g. [1, 5, 7], [10, 2.3, "hello"]</td>
        <td style="text-align:left; border:solid;">Mutable</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Tuples</td>
        <td style="text-align:left; border:solid;">tup</td>
        <td style="text-align:left; border:solid;">Ordered immutable sequence of objects, e.g. ("a", "a", "b")</td>
        <td style="text-align:left; border:solid;">Immutable</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Sets</td>
        <td style="text-align:left; border:solid;">set</td>
        <td style="text-align:left; border:solid;">Unordered collection of unique items, e.g. {1, 5, 7}</td>
        <td style="text-align:left; border:solid;">Mutable</td>
    </tr>
    <tr>
        <td style="text-align:left; border:solid;">Dictionaries</td>
        <td style="text-align:left; border:solid;">dict</td>
        <td style="text-align:left; border:solid;">Unordered key-value pairs, e.g. {"Ann":12, "Bob":5}</td>
        <td style="text-align:left; border:solid;">Mutable</td>
    </tr>
</table>

Each of the data structures will be introduced below:

- [List](#list)
- [Tuple](#tuple)
- [Set](#set)
- [Dictionary](#dict)


For more details: <url>https://docs.python.org/3/tutorial/datastructures.html</url>

We can use `type()` to get the type of the data structures.

In [12]:
x3 = ["a", "b"]
print(type(x3))
x4 = {"a":1, "b":2}
print(type(x4))

<class 'list'>
<class 'dict'>

<a name = "list"></a>
### Lists
- A list is defined by writing a list of comma separated values in a square brackets.
- Lists might contain items of different types, but usually the items all have the same type.

In [13]:
squares_list = [0, 1, 4, 9, 16, 25]
print(squares_list)

[0, 1, 4, 9, 16, 25]

In [14]:
print(squares_list[0]) # Indexing returns the items
print(squares_list[-2]) # Return 2nd last element in the list

0
16

In [15]:
nested_list = [[1, 2, 3], [4, 5, 6]] # Nested list: lists in the list 
print(nested_list)
print(nested_list[0])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]

In [16]:
squares_list[2] = 36
print(squares_list)

[0, 1, 36, 9, 16, 25]

#### Slicing: accessing sublist

In [17]:
num_list = [3, 2, 16, 8, 30, 22]
print ("Slicing examples:")
print (num_list[2:4]) # Return a new list from index 2 to 4 (exclusive)
print (num_list[2:]) # Return a new list from index 2 to the end
print (num_list[:2]) # Return from the start to index 2 (exclusive)
print (num_list[:]) # Return the whole list
print (num_list[:-1]) # Slice indices can be negative

print ("Slicing with step:")
print (num_list[::2]) # Return every 2nd item
print (num_list[::-1]) # Return a reversed list

print ("More examples:")
num_list[2:4] = [0, 0] # Assign a new sublist to a slice
print (num_list) # Prints "[3, 2, 0, 0, 30, 22]"

Slicing examples:
[16, 8]
[16, 8, 30, 22]
[3, 2]
[3, 2, 16, 8, 30, 22]
[3, 2, 16, 8, 30]
Slicing with step:
[3, 16, 30]
[22, 30, 8, 16, 2, 3]
More examples:
[3, 2, 0, 0, 30, 22]

#### Some Methods and Operations of Lists

In [18]:
list1 = [9, 5, 3]
list1.append(10) # Append 10 to the end of the list
print (list1)
print ("Number of items: ", len(list1)) # Get the number of items
print (list1 * 2) # Duplicate the list for 2 times
list1.sort() # Sort list1
print (list1)

list2 = [1, 12, 4]
print (list1 + list2) # Concatenate list1 and list2

[9, 5, 3, 10]
Number of items:  4
[9, 5, 3, 10, 9, 5, 3, 10]
[3, 5, 9, 10]
[3, 5, 9, 10, 1, 12, 4]

### List Comprehensions
List comprehensions provide a concise way to create lists. 

- A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.
- The result will be a new list.

For example, we can use a for loop to generate a list of squares.

In [19]:
nums = [0, 1, 2, 3]
squares = []
for x in nums:
    squares.append(x**2)
print (squares)

[0, 1, 4, 9]

We can also generate a list of squares using list comprehension:

In [20]:
squares = [x**2 for x in nums]
print (squares)

[0, 1, 4, 9]

A list comprehension can also contain if clauses after the expression and for clause.

The following list comprehension creates a list of odd numbers by checking that the number is not divisible by 2.

In [21]:
squares = [x**2 for x in nums if x%2]
print(squares)

[1, 9]

The above list comprehension is equivalent to the following code segment:

In [22]:
squares = []
for x in nums:
    if x%2:
        squares.append(x**2)
print(squares)

[1, 9]

Nested List Comprehension

The following two code segments produce the same results.

In [23]:
# create a 2d list using list comprehension
num_list2 = [[ (i+1)*(j+1) for j in range(4)] for i in range(3)]
print(num_list2)

[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12]]

In [24]:
# create a 2d list using nested for loop
num_list2 = []
for i in range(3):
    num_list2.append([])
    for j in range(4):
        num_list2[i].append((i+1)*(j+1))
print(num_list2)

[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12]]

List Comphrehension with nested for
- A list comprehension can consists of multiple for clauses.

In [25]:
num_list1 = [[1, 2, -3], [4, -5, 3], [9, 8, 11]]

# flatten a list using list comprehension with 2 for
numbers = [num for row in num_list1 for num in row]
print(numbers)

[1, 2, -3, 4, -5, 3, 9, 8, 11]

The above list comprehension is the same as the following code segment.

In [26]:
num_list1 = [[1, 2, -3], [4, -5, 3], [9, 8, 11]]
# flatten a list using nested loop
numbers = []
for row in num_list1:
    for num in row:
        numbers.append(num)
print(numbers)

[1, 2, -3, 4, -5, 3, 9, 8, 11]

Another example:

In [27]:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
numbers = [x+y for x in list1 for y in list2]
print(numbers)

[3, 5, 7, 5, 7, 9, 7, 9, 11]

<a name = "tuple"></a>
### Tuples
- A tuple is represented by a number of values separated by commas.
- Tuples are immutable and output is surrounded by parentheses.
- Faster in processing than lists.

In [28]:
tuple_example = 0, 1, 4, 9, 16, 25 
print (tuple_example) # Output would be enclosed in parenthesis

# Parenthesis will be necessary if the tuple is part of a larger expression
tuple_example2 = (0, 2, 4), (1, 3, 5)
print (tuple_example2)

(0, 1, 4, 9, 16, 25)
((0, 2, 4), (1, 3, 5))

In [29]:
print (tuple_example[2]) # Indexing returns the items
tuple_example[2] = 6 # Tuples are immutable and hence this is an error

4

TypeError: 'tuple' object does not support item assignment

<a name = "set"></a>
### Sets
- A set is an unordered collection of distinct elements.
- Sets do not record element position or order of insertion.
- Sets do not support indexing, slicing, or other sequence-like behaviour.

In [30]:
fruits = {'Orange', 'Apple'}
print (fruits)

{'Apple', 'Orange'}

In [31]:
print('Apple' in fruits) # Check if an element is in a set
print('Banana' in fruits) 
fruits.add('Banana') # Add an element to a set
print('Banana' in fruits)
print (len(fruits)) # Get the number of elements in a set
fruits.add('Apple') # Add an element that is already in the set does nothing
print (fruits)
fruits.remove('Apple') # Remove an element from the set
print (fruits)

True
False
True
3
{'Apple', 'Banana', 'Orange'}
{'Banana', 'Orange'}

We can also create a set using `set()`.

In [32]:
items = set() # Create an emtpy set
items.add("Coke")
items.add("Potato chips")
print (items)

{'Potato chips', 'Coke'}

In [33]:
set1 = set("banana") # A set of unique characters
set2 = set("apple") 
print (set1)
print (set2)
print ("Set operations:")
print (set1 - set2) # characters in set1 but not set2
print (set1 | set2) # characters in set1 or set2
print (set1 & set2) # characters in both set1 and set2
print (set1 ^ set2) # characters in set1 or set2 but not both

{'n', 'a', 'b'}
{'p', 'e', 'l', 'a'}
Set operations:
{'n', 'b'}
{'e', 'n', 'a', 'p', 'l', 'b'}
{'a'}
{'n', 'b', 'e', 'p', 'l'}

#### Set Comprehnsion

The syntax of the Set comprehnsion is similar to the List comprehension, except that braces are used instead of square brackets.

In [34]:
list1 = [ 1, 2, 3, 3, 2, 5, 7, 0 ]
set1 = set()
# create a set using set comprehension
set1 = {x for x in list1}
print(set1)

{0, 1, 2, 3, 5, 7}

<a name = "dict"></a>
### Dictionary
- Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
- A pair of braces creates an empty dictionary: `{}`.

In [35]:
extensions = {'CSE': 1234, 'DSCT': 7444, 'ECE': 7036}
print (extensions)

{'CSE': 1234, 'DSCT': 7444, 'ECE': 7036}

In [36]:
extensions['CSE'] = 7000 # Modify the value for the key 'CSE'
print (extensions['CSE']) # Get the value of the key 'CSE'
extensions['MAE'] = 8654 # Add a key-value pair
print (extensions)

7000
{'CSE': 7000, 'DSCT': 7444, 'ECE': 7036, 'MAE': 8654}

In [37]:
print (extensions.keys()) # Get the keys only
print (extensions.values()) # Get the values only
print (extensions.items()) # Get the key-value pairs

dict_keys(['CSE', 'DSCT', 'ECE', 'MAE'])
dict_values([7000, 7444, 7036, 8654])
dict_items([('CSE', 7000), ('DSCT', 7444), ('ECE', 7036), ('MAE', 8654)])

In [38]:
for k, v in extensions.items():
    print (k, v)

CSE 7000
DSCT 7444
ECE 7036
MAE 8654

#### Dictionary Comprehensions

There are two expressions with a colonÂ (:)Â between them for the key and corresponding value before the for.

In [39]:
item2quantity = {"Chocolate bar":123, "Marshmallows":213, "Gummy":101}

# create a dictionary with dict comprehension
dict1 = {n:q-1 for n, q in item2quantity.items()}

print(dict1)

{'Chocolate bar': 122, 'Marshmallows': 212, 'Gummy': 100}

The dictionary comprehension above gives the same result as the code segment below.

In [40]:
item2quantity = {"Chocolate bar":123, "Marshmallows":213, "Gummy":101}

# create a dictionary with loop
dict1 = {}
for (name, quantity) in item2quantity.items():
    dict1[name] = quantity-1
print(dict1)

{'Chocolate bar': 122, 'Marshmallows': 212, 'Gummy': 100}

### Practice

Given the following two-dimensional list:

In [41]:
table = [ [1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12] ]

Create a new two-dimensional list by flipping the table diagonally using (i.e. transpose):
1. Nested for loop
2. List comprehension

<a name = "functions"></a>
## Part 2: More on Functions

A function is a sequence of instructions.

- Function Definition
  - def is a python keyword which is to create a function 
  - It is followed by the name of the function name, and a pair of parentheses, which may or may not contain a list of input values. 
  - A colon (:) indicates the end of the function definition
- Function Body
  - Contains the sequence of instructions
  - The body of the function start at the next line.
  - The statements of the function body must be indented.

In [42]:
def say_hello(): # function definition
    # function body
    name = input("What is your name? ")
    print("Nice to meet you,", name)

- Function call
  - Tells Python to run (execute) the instructions in the function
  - This is done by writing the name of the function and a pair of parentheses and inputs (if needed) inside the parentheses

In [43]:
say_hello()

What is your name? Python
Nice to meet you, Python

- return Statement
  - Usually, a function returns something, for example,
    - The result of some computations
    - A signal about the status of the function
    - A new object created by the function
  - It is done by using the return keyword, and followed by the output
  - The return keyword can also be used to terminate the function early by using the return keyword only without a value.

In [44]:
import random # using the random module
def get_random_number():
    return random.randint(1, 100)

print( get_random_number() )

40

<a name="parameters"></a>
### Parameters and Arguments

##### Parameters
  - They are the variables specified in the function definition
  - They describes what information are needed by the function

In the following example, x is a parameter. The function takes the value in x, and then returns the square of the value

In [45]:
def square(x):
    result = x**2
    return result

##### Arguments
  - The information that is passed from a function call to a function
  - In the above function call, the value 10 is passed to the parameter x

In [46]:
print("The square of 10 is", square(10))

The square of 10 is 100

<a name="localglobal"></a>
### Local and Global Variables

Global scope
- The names that you define in this scope are available to all your code.

Local scope
- The names that you define in this scope are only available or visible to the code within the scope.

Variables created inside a function are normally with local scope, while variables created outisde a function are with global scope.

In [47]:
def fun(parameter1):
    # parameter1 is a local variable 
    parameter1 = parameter1 + 30
    print("In fun():", var1, parameter1)

var1 = 0 # variable with global scope (global variable)
fun(var1)
print('var1 =', var1)
print('parameter1 = ', parameter1) # cannot access the local variable

In fun(): 0 30
var1 = 0

NameError: name 'parameter1' is not defined

#### The global Statement

If we want to create/use a global variable inside a local scope (e.g. function), we can add the global statement as the first statement of a function body.

In [48]:
var1 = 0 # variable with global scope (global variable)

def fun():
    global var1
    var1 = var1 + 10 # modify the global var1
    print('In fun(), var1 =', var1) # read the global variable

fun()
print('var1 =', var1)

In fun(), var1 = 10
var1 = 10

<a name="postionalandkeywordarguments"></a>
### Positional and Keyword Arguments

We can pass arguments to a function in different ways
- Positional arguments
- Keyword arguments

#### Positional Arguments

When we call a function, the parameters in the function definition take the information (values) in the order of the arguments in the function call.

In [49]:
def total_amount(product_name, price, quantity):
    amount = price * quantity
    print('You need to pay $', amount, 'for', quantity, product_name)

The 3 arguments, 'candy', 5 and 10, will be passed to the 3 parameters, namely, product_name, price and quantity, correspondingly.

In [50]:
total_amount('candy', 5, 10)

You need to pay $ 50 for 10 candy

Order is very important for positional arguments.

In [51]:
total_amount(5, 'candy', 10)

You need to pay $ candycandycandycandycandycandycandycandycandycandy for 10 5

#### Positional-Only Arguments

- If we do not know how many positional arguments will be passed to the function, we can add an asterisk (*) before the parameter name.
- It will give us a tuple of arguments.

In [52]:
def get_args(*args):
    print("The positional arguments are", args)

In [53]:
get_args("a", "b", 10)

The positional arguments are ('a', 'b', 10)

#### Keyword Arguments

- A keyword argument is a name-value pair that we pass to a function.
- We specify the value and the parameter to be passed to within the argument.
- The order of the keyword arguments is not important.

For example, we can also call the total_amount() function by specifying each parameter name:

In [54]:
total_amount(price=5, product_name='candy', quantity=10)

You need to pay $ 50 for 10 candy

The value 5 is passed to the price parameter, the string â€˜candyâ€™ is passed to the product_name parameter, and the value 10 is passed to the quantity parameter.

#### Keyword-Only Arguments

- If we do not know how many keyword arguments will be passed to the function, we can add 2 asterisks (**) before the parameter name.
- It will give us a dictionary of arguments.

In [55]:
def get_kargs(**kargs):
    print("The keyword arguments are", kargs)

In [56]:
get_kargs(name="Ann", age=20, prog="MSBD")

The keyword arguments are {'name': 'Ann', 'age': 20, 'prog': 'MSBD'}

<a name="defaultvalues"></a>
### Default Values

- We can give a default value to a parameter in a function definition.
- If we pass an argument to a parameter in the function call, the argument value will be used.
- If we do not pass an argument to a parameter with a default value, the default value will be used instead.

In [57]:
def add(x, y=1):
    return (x + y)

In [58]:
print( "add(10) =", add(10) ) # x will take 10, y will be 1
print( "add(10, 2) =", add(10, 5) ) # x will take 10, and y will take 5

add(10) = 11
add(10, 2) = 15

<a name="passingobjects"></a>
### Passing Objects

- We can pass more complex things than simple values to a function, e.g. a list, a dictionary, etc.
  - Passing a dictionary to a function
    - If we pass a dictionary to a function, we can modify the dictionary inside the function body.
    - The changes are permanent.
  - Passing a list to a function
    - If we pass a list to a function, we can modify the list inside the function body.
    - The changes are permanent.
- The reason is that both list and dictionary are mutable objects.

In [59]:
def add(names2scores, x=1):
    for each_key in names2scores.keys():
        names2scores[each_key] = names2scores[each_key] + 1

student_scores = {"Ann":98, "Bob":72}
print(student_scores)
add(student_scores)
print(student_scores)

{'Ann': 98, 'Bob': 72}
{'Ann': 99, 'Bob': 73}

In [60]:
def add(list1, x=1):
    for i in range(len(list1)):
        list1[i] = list1[i] + x

a_list = [1, 2, 3]
add(a_list)
print(a_list)

[2, 3, 4]

#### Prevent a Function from Modifying a List
If we want to pass a list to a function without being modified, we can pass a copy of a list to a function by:

```
function_name(list_name[:])
```

In [61]:
def add(list1, x=1):
    for i in range(len(list1)):
        list1[i] = list1[i] + x

a_list = [1, 2, 3]
add(a_list[:])
print(a_list) # the output remains: [1, 2, 3]

[1, 2, 3]

<a name = "classes"></a>
## Part 3: Classes

<a name="classesandobjects"></a>
### Classes and Objects
In object-oriented programming (OOP), we write classes and create objects based on the classes.

#### Classes
- User-defined data types
- For defining the attributes (data members) and behaviours (methods) for objects of a class

#### Objects
- Instances of a class
    - Instantiation â€“ making an object from a class
- Created with specifically defined data

#### Class Definition

The definition of a class has the following syntax
```
	class classname(base-classes):
		class-body
```

- `classname` is an identifier, which follows the naming rules of variables.
- `bass-classes` is optional, it is a comma-separated list of classes inherits from.
- `class-body` is where we specify the attributes and behaviors.

##### The __init___() Method

- A method is a function defined in a class.
- A method always have the first parameter with the name `self`.
- `self` refers to the instance (object) that we are calling the method for. 
- The `__init__()` method is a special method called constructor that Python runs automatically when we make an instance based on a class.

In [62]:
class Person:
    """ a simple example of class definition """
    def __init__(self, name, age):
        """ initialize the attributes """
        self.name = name
        self.age = age

    def printInfo(self):
        """ print the attributes """
        print(f"{'Name':<10}: {self.name:>10}\n{'Age':<10}: {self.age:>10}")

    def increaseAge(self, years=1):
        """ increase the age attribute """
        self.age += years

In [63]:
print(f'{"abc":>10}')

       abc

#### Making an Instance from a Class

For example, to create a `Person` object:

In [64]:
person1 = Person("Ann", 20)

- Python will call the __init__() method with the 3 arguments
  - pass them to the parameters, name, gender and weight, and 
  - assign them to the attributes of the object

#### Accessing an Attribute of a Class

To access the attributes of an instance, use the following syntax:
```
object.attribute_name
```

For example, to access the attribute `age` of the `person1` object:

In [65]:
person1.age += 1

#### Calling a Method of an Object

For example, to call the `increaseAge()` and `printInfo()` methods of the `person1` object

In [66]:
person1.increaseAge(2)
person1.printInfo()

Name      :        Ann
Age       :         23

<a name="inheritance"></a>
### Inheritance

In OOP, inheritance allows classes to reuse code from other classes.
- The child (derived) class inherits the members (attributes and methods) of the parent (base) class.
  - The code of the base class can be reused in the derived class.
- New attributes and methods can be added to the derived class.
- We can also override a method from the base class if the method is not good enough for the derived class.
  - This is done by defining a method with the same name in the derived class.

For example, the `Student` class inherits from the `Person` class.

In [67]:
class Student(Person):
    
    def __init__(self, name, age, sid, program):
        # class the __init__() method of the base class Person
        super().__init__(name, age)
        self.sid = sid
        self.program = program
    
    def printInfo(self):
        super().printInfo()
        print(f"{'ID':<10}: {self.sid:>10}")
        print(f"{'Program':<10}: {self.program:>10}")

`super()` is a special function that allows us to call a method from the parent (base) class.

In [68]:
student1 = Student("Bob", 23, 12345678, "MSBD")
student1.increaseAge()
student1.printInfo()

Name      :        Bob
Age       :         24
ID        :   12345678
Program   :       MSBD

#### A Note about Private

- In other OOP languages, such as C++, there is the concept of private attributes/methods and public attributes/methods
  - Private â€“ things that should not be accessed outside the object
  - Protected - things that cannot not be accessed outside the object except the derived objects
  - Public â€“ things that can be accessed outside the object
- Python does not enforce this concept.
- But there is a convention adopted by most Python code:
  - An attribute or method name prefixed with an underscore (_) should be regarded as protected
  - An attribute or method name prefixed with two underscores (__) should be regarded as private

#### Name mangling
- Python will replace any names in a class with two leading underscores, e.g. `__membername`, by `_classname__membername`.
This help to avoid name clashes of names with names defined by subclasses.

--- end of tutorial 2 ---